<nav class="main-header__nav">
    <ul class="main-header__item-list">
        <li class="main-header__item">
            <a href="/" <% if (docTitle === 'Shop') {%> class="active"  <%}%>>Shop</a>
        </li>
        <li class="main-header__item">
            <a href="/admin/add-product" <% if (docTitle === 'Add Product') {%> class="active"  <%}%>>Add Product</a>
        </li>
    </ul>
</nav>