<!doctype html>
<html lang="en">
<head>
    <%- include('includes/head-content.ejs') %>
</head>
<body>
<header class="main-header">
    <%- include('includes/main-navigation.ejs') %>
</header>

<main>
    <h1>Page not Found</h1>
</main>
</body>
</html>