<!doctype html>
<html lang="en">
<head>
    <%- include('includes/head-content.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<header class="main-header">
    <%- include('includes/main-navigation.ejs') %>
</header>

<main>
    <h1 style="text-align: center">Add Product</h1>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" required />
        </div>

        <button class="btn">Add Product</button>
    </form>
</main>
</body>
</html>