


extends layouts/main-layout

block styles
    link(rel='stylesheet' href='/css/forms.css')
    link(rel='stylesheet' href='/css/product.css')

block content
    main
        h1(style="text-align: center") Add Product

        form.product-form(action='/admin/add-product' method='POST')
            div.form-control
                label(for='title') Label
                input#title(type='text' name='title' required)

            button.btn(type='submit') Add Product